@charset "UTF-8";

@import url(reset.css);
@import url(webfont.css);
@import url(common.css);

/* ---------------- FRONT PAGE ------------------- */
.front{
	display : flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.front .main_content{
	flex:1; 
	padding :37px 0;
	overflow: hidden;
}

.main_slide_wrapper{
	width : 270px;
	margin : 0 auto;
	height : 390px;
	position : relative;
} 
.swiper-pagination-bullet-active{
	background : #262628;
}
.main_content_info{
	margin-top : 24px;
}

.main_content_info >p{
	width: 80%;
	margin : 0 auto;
	padding : 0 25px;
	box-sizing: border-box;
	text-align: center;
}
.main_content_info >h1{
	text-align : center;
	margin-bottom: 24px;
}

.main_footer{
	display: flex;
}
.main_footer >a{
	flex:1; 
}




/* ---------------- SIGN IN PAGE ------------------- */
header{
	display : flex;
	justify-content: flex-start;
	padding : 0 22px;
	align-items: center;
}

.sprite{
	background : url(../img/sprite.png) no-repeat;
	background-size : 376px 600px;
	display : inline-block;
	text-indent: 101%;
	overflow : hidden;
	white-space: nowrap;
}

.sprite.arrow_left{
	margin-top: 38px;
    margin-bottom: 50px;
	width : 18px;
	height : 18px;
	background-position: -236px -150px;
}

.sub_content{
	flex:1;
	display : flex;
	flex-direction: column;
}

.sub_content h1, .sub_content fieldset{
	padding : 0 38px;
}

.sub_context h1{
	text-align : left;
}

.login_form{
	margin-top : 73px;
	flex:1;
	display: flex;
	flex-wrap : wrap;
	align-content: space-between;
}

.login_form a{
	width : 100%;
}

.login_form .btn{
	width: 100%;
	border : none;
}

.login_form label{
	display : block;
	color : #000;
	font-family: 'SF UI Display Heavy';
}

.login_form fieldset{
	width : 100%; 
}

.login_form fieldset input{
	border : none;
	border-bottom : 1px solid #C2C4CA;
	height : 45px;
	line-height: 45px;
	color : #000;
	width : 100%;
	display : block;
	outline : none;
}

.login_form fieldset input:focus{
	border-bottom-color : #979797;
}

/* .login_form fieldset input:first-of-type{
	margin-bottom : 62px;
} */

.login_form fieldset input::placeholder{
	color : #C2C4CA;
}

/* 로그인 실패시 경고글 */
.Login_warn{
	width:100%;
    color : red;
    text-align: center;
}



/* ---------------- SIGN UP PAGE ------------------- */

.signup_form fieldset input{
	margin-bottom: 30px;
}

header.signup{
	background: url(../img/signup_bg.jpg) no-repeat left top/cover;
	height : 286px;
	padding-top : 36px;
	align-items: flex-start;
	box-sizing: border-box;
}

header.signup h1{
	width : 100%;
	text-align: center;
}

.sprite.close{
	width : 18px;
	height : 18px;
	background-position: -118px -390px;	
}

/* 아이디 중복 확인 */
section.sub_content span.id_input_re_1 {
	color: green;
	display: none;
}

section.sub_content span.id_input_re_2 {
	color: red;
	display: none;
}

/* 비밀번호 확인 일치 유효성검사 */
.pw2_input_re_1{
        color : green;
        display : none;    
}
.pw2_input_re_2{
        color : red;
        display : none;    
}

.signup-purpose{
	display : flex;
	margin-bottom: 15px;
}
.signup-purpose .purpose{
	margin-right: 30px;
}

.final_id_ck{
    display: none;
    color:red;
    margin-bottom: 15px;
}
.final_pw_ck{
    display: none;
    color:red;
    margin-bottom: 15px;
}
.final_pw2_ck{
    display: none;
    color:red;
    margin-bottom: 15px;
}
.final_name_ck{
    display: none;
    color:red;
    margin-bottom: 15px;
}
.final_mail_ck{
    display: none;
    color:red;
    margin-bottom: 15px;
}
.final_phone_ck{
    display: none;
    color:red;
    margin-bottom: 15px;
}
.final_add1_ck{
    display: none;
    color:red;
    margin-bottom: 15px;
}
.final_add2_ck{
    display: none;
    color:red;
    margin-bottom: 15px;
}
.final_add3_ck{
    display: none;
    color:red;
    margin-bottom: 15px;
}


/* ---------------- home ------------------- */
/* 검색박스영역 */

#searchForm{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* 검색결과 없음 */
.table_empty{
	height: 50px;
    text-align: center;
    margin: 200px 0 215px 0px;
    font-size: 25px;
}
.home_content{
	flex : 1;
}

.sprite.aside_menu_toggle{
	width : 18px;
	height : 18px;
	background-position: 0 -150px;
}

.sprite.wishlist{
	width : 18px;
	height : 18px;
	background-position: -118px -246px;
}

.sprite.cart{
	width : 18px;
	height : 18px;
	background-position: -118px -198px;
}


.home_header{
	display : flex;
	justify-content: space-between;
	padding : 36px 22px;
}

.top_links .wishlist{
	margin-right: 34px;
}

.categories_slide{
	padding: 22px 0;
}

.categories_slide a{
	font-size: 24px;
	font-family: 'SF UI Display Heavy';
	color : #c2c4ca;
	white-space : nowrap;
	margin-right : 45px;
}

.categories_slide .slick-active{
	color : #000;
}

.products_list{
	display : flex;
	flex-wrap : wrap;
	justify-content:  space-between;
}

.products_list li{
	width : 48%;
	text-align : center;
	margin-bottom: 25px;
}

.products_list .picture{
	background-repeat: no-repeat;
	background-position: center;
	background-size :cover;
	height : 224px;
	text-indent: -9999em;
}

.products_list li h3{
	font-size : 13px;
	font-family: 'SF UI Display Medium';
	margin-top: 19px;
}
.products_list li h4{
	margin-top : 3px;
	font-size : 12px;
}

/* ---------------- Aside menus ------------------- */
body{
	position: relative;
	left : 0;
	transition : 0.4s;	
}
.aside_active{
	width : 500px;
	left : 70%;
	position: fiexd;
	box-shadow : -5px 0 10px rgba(245,245,245,1);
}
aside{
	position: fixed;
	top : 0;
	bottom : 0;
	width : 70%;
	display : flex;
	flex-direction: column;
	left : -70%;
	transition : 0.4s;
}
.aside_active aside{
	left :0;
}



aside header{
	height : 132px;
}



aside header h2{
	text-transform: uppercase;
}

aside header img{
	margin-right: 14px;
} 

.aside_content .categories{
	border-top: 1px solid #F5F5F5;
	border-bottom : 1px solid #F5F5F5;
}

.aside_content .categories ul{
	display : none;
}


.aside_content .categories li{
	line-height: 55px;
	padding : 0 22px;
	border-bottom: 1px solid #F5F5F5;
	position: relative;
}

.aside_content .categories li span{
	position : absolute;
	right : 22px;
	top : 21px;
}

.aside_content .categories li:last-child{
	border:none;
}

.aside_content .categories li h3{
	text-transform: uppercase;
}

.aside_content{
	flex:1;
}

.aside_menus{
	margin-top: 14px;
}
.aside_menus li{
	line-height: 55px;
	padding: 0 22px;
	text-transform: uppercase;
}

.sprite.plus{
	width: 18px;
	height : 18px;
	background-position: -354px -150px;
}

/* 로그인 성공 영역 */
.login_success_area{
    width: 80%;
    border: 2px solid #7474ad;
    border-radius: 15px;
    margin: 5% auto;
    margin-top: 5%;
}
.login_success_area>span{
    display : block;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.login_menu{
	display: flex;
    align-items: center; /* 세로 중앙 정렬을 위해 추가합니다. */
}

.login_menu>a{
    font-size: 15px;
    font-weight: 900;
    display: inline-block;
    margin-top: 5px;
    background: #e1e5e8;
    width: 82px;
    height: 22px;
    line-height: 22px;
    border-radius: 25px;
    color: #606267;    
    margin-left: 20px;
    margin-bottom: 15px;
}
.register{
	color: #8080ff;
    font-size: 13px;
    border: 2px solid #000000;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 900;
}

/* ---------------- 장바구니 숫자 ------------------- */
.top_links  .cart{
	position: relative;
	text-indent: -9999em;
	overflow : initial;
}
.top_links .cart:before{
	content:attr(data-cart-count);
	width : 19px;
	height : 19px;
	background: #262628;
	border-radius: 50%;
	position : absolute;
	top : -10px;
	right : -10px; 
	color : #fff;
	text-indent: 0;
	line-height : 19px;
	text-align: center;
	font-size : 14px;
}

/* ---------------- Product detail page ------------------- */
.product_details_header{
	display: flex;
}
.product_details_header a{
	margin-right: 14px;
}
.search{
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;
}
.search form{
	flex:1; 
	display: flex;
	align-items: center;
	margin-right: 30px;
}
.search form input{
	flex : 1;
	line-height: 30px;
	border : none;
	margin-left: 9px;
}
.sprite.search_icon{
	width : 18px;
	height : 18px;
	background-position: 0px -102px;
}
.search form .search_icon{
	opacity: 0.2; 
}
.sprite.barcode{
	width : 18px;
	height: 18px;
	background-position: 0px -582px;
}
.product_img_top{
	position: relative;
}
.product_img_top img{
	width : 100%;
	height : auto;
}
.product_img_top .buttons{
	position: absolute;
	right : 15px;
	bottom : 32px;
}
.product_img_top .buttons span,.product_img_top .buttons button{
	border : none;
	width: 40px;
	height : 40px;
	border-radius: 50%;
	display : block;
	background: #fff;
	display : flex;
	align-items: center;
	justify-content: center;
}

.product_img_top .buttons form{
	margin-bottom: 14px;
}
.sprite.share{
	width: 18px;
	height : 18px;
	background-position: -355px -247px;
}
.product_img_bottom{
	padding : 20px 0 ;
	display: flex;
	justify-content: space-between;
}
.product_img_bottom .titles h3{
	font-family: 'SF UI Display Medium';
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.product_img_bottom button{
	padding : 0 24px;
}
.product_thumb{
	margin-top :21px;
	overflow: hidden;	
}
.product_thumb_slides li img{
	width : 100%;
	height : auto;
}
.product_detail_tt{
	font-family: 'SF UI Display Bold';
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 28px;
}
.product_details > div > div[class$="content"]{
	padding : 12px 0;
}
.desc_content p:not(:last-of-type){
	margin-bottom: 12px;
}
.like_content ul{
	display: flex;
	justify-content: space-between;
}
.total_like{
	width: 50px;
	height: 50px;
	background: #F05522;
	color : #fff;
	text-align: center;
	line-height: 50px;
	font-size: 13px;
	font-family: 'SF UI Display Bold';
	border-radius: 50%;
}
.wear_content ul{
	display: flex;
	justify-content: space-between;
}
.wear_content ul li{
	width : 31.2%;
}
.wear_content ul li img{
	width : 100%;
}
.wear_content ul li h4{
	font-size: 12px;
	margin: 12px 0 8px;
	font-weight: bold;
}
.wear_content ul li h5{
	font-size: 12px;
}
.review_header {
	display : flex;
	justify-content: space-between;
	margin-top : 28px;
}
.review_header h3{
	margin-top : 0;
}
.review_header a{
	font-size: 15px;
	color : #F05522;
}
.review_content ul li{
	display : flex;
	align-items: flex-start;
	padding : 18px 0;
	border-bottom: 1px solid #f5f5f5;
}
.review_content ul li:last-child{
	border-bottom: none;
}
.review_content ul li img{
	margin-right: 16px;
}
.reivew_content_header_tt{
	display : flex;
	justify-content: space-between;
	margin-bottom: 9px;
}
.reivew_content_header_tt h4{
	font-size: 15px;
	font-family: 'SF UI Display Semibold';	
}
.review_list_content_header .time{
	font-size : 12px;
	color : #9b9b9b;
	margin-bottom: 12px;
}

/* ---------------- CART ------------------- */
.
-page .home_header h2{
	flex : 1;
	text-align: center;
}
.cart-page .cart_content{
	padding : 0 19px;
}
.cart-page h3{
	font-size : 13px;
	font-family: 'SF UI Display Bold';
	margin-bottom: 4px;
	text-transform: uppercase;
}
.cart-page h3 span{
	color : #F05522;
}
.cart_list li{
	display : flex;
	position : relative;
	padding : 24px 0;
	border-bottom: 1px solid #F5F5F5;
}
.cart_list li:last-chile{
	border-bottom: none;
}
.cart_list li .cart_item_del{
	position: absolute;
	right : 0;
	top : 24px;
}
.cart_list li .cart_list_info{
	flex : 1;
	margin-left: 21px;
}
.cart_list li .cart_list_info > div{
	display : flex;
	justify-content: space-between;
}
.cart_list li .cart_list_info .size{
	margin-bottom: 8px;
}
.cart_list li .cart_list_info label{
	text-transform: uppercase;
	color : #c2c4ca;
	font-size : 12px;
	line-height: 30px;
}
.cart_list li .cart_list_info select,
.cart_list li .cart_list_info input{
	border : none;
	width : 59px;
	height : 30px;
	line-height: 30px;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
	text-align: center;
	box-sizing: border-box;
}
.cart_list li h4{
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 8px;
}
.cart_list li h5{
	font-family: 'SF UI Display Bold';
	font-size : 15px;
	margin-bottom : 15px;
}
.sprite.cart_item_del{
	width: 18px;
	height : 18px;
	background-position: -354px -342px;
}
.cart_list li .cart_item_del{
	opacity: 0.3;
	cursor: pointer;
}
.cart_total{
	padding : 24px 19px;
	background: #f5f5f5;
}
.cart_total > div{
	display: flex;
	justify-content: space-between;
}
.cart_total > div h6{
	font-size : 14px;
	text-transform: uppercase;
	color : #9b9b9b;
}
.cart_total > div span{
	font-family: 'SF UI Display Bold';
	font-size : 13px;
}
.cart_total .total_price span{
	font-size : 18px;
}
.cart_total .shipping{
	margin-bottom: 20px;
}
.cart-page form button{
	width : 100%;
}
.cart-page form{
	display : flex;
	flex-direction : column;
	height: 100%;
}
.cart-page form .cart_content{
	flex: 1;
}


/* ---------------- check out ------------------- */
.check_out{
	padding : 58px 0 82px;
	text-align: center;
	display : flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	box-sizing: border-box;
}
.check_out h2{
	font-size : 24px;
	font-family: 'SF UI Display Medium';
	margin : 42px 0 20px;
}
.check_out p{
	color : #9b9b9b;
	width : 50%;
	margin : 0 auto;
}
.check_out a{
	text-transform: uppercase;
	text-decoration: underline;
	font-family: 'SF UI Display Medium';
}

/* ---------------- search ------------------- */
/* 상품 표 */
	.list_search_result{
		width: 90%;
	    margin: auto;	
	}
	.type_list{
	    width: 100%;
	    border-bottom: 1px solid #e7e7e7;
	    border-collapse: collapse;	
	}
	.type_list tr{
		height:200px;
		border-bottom: 1px solid #e7e7e7;
	}
	.detail div{
		margin-bottom: 5px;
	}
	.category{
		font-size: 12px;
    	font-weight: 600;
	}
	.title{
	    font-size: 20px;
	    color: #3a60df;
	    font-weight: 700;
	}
	.author{
		font-size: 14px;
	}
	.info{
		text-align: center;
	}
	.price{
		text-align: center;
	}
	.org_price del{
		font-size: 13px;
	}
	.sell_price strong{
		color: #da6262;
    	font-size: 18px;
	}
	/* 페이지 버튼 인터페이스 */
	.pageMaker_wrap{
		text-align: center;
	    margin-top: 30px;
	    margin-bottom: 40px;
	}
	.pageMaker{
	    list-style: none;
	    display: inline-block;
	}	
	.pageMaker_btn {
	    float: left;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    margin-left: 20px;
	}
	.active{
		border : 2px solid black;
		font-weight:400;
	}
	.next, .prev {
	    border: 1px solid #ccc;
	    padding: 0 10px;
	}
	.pageMaker_btn a:link {color: black;}
	.pageMaker_btn a:visited {color: black;}
	.pageMaker_btn a:active {color: black;}
	.pageMaker_btn a:hover {color: black;}
	.next a, .prev a {
	    color: #ccc;
	}
	.image_wrap img {
    max-width: 100px; /* 원하는 최대 너비 */
	max-height: 90%;
}


/* ---------------- goodsDetail_list ------------------- */

.content_top{
	    width: 100%;
	    height: 400px;  	
  	}
	.content_top:after {
	    content: "";
	    clear: both;
	    display: table;
	}    	
  	.ct_left_area{
		float: left;
	    width: 30%;
	    height: 100%;
  	}
  		.image_wrap{
		    height: 80%;
		    width: 80%;
		    margin: auto;
		    top: 10%;
		    position: relative;  		
  		}
  		.image_wrap img{
	  		max-width: 100%;
		    height: auto;
		    display: block;  		
  		}
  		.line{
		    width: 100%;
		    border-top:1px solid #c6c6cf;  		
  		}
  		
  		

  	.ct_right_area{
	    float: left;
	    width: 70%;
	    height: 100%;
  	}
  		.title{
		    height: 28%;
		    font-size: 17px;
		    line-height: 110px;
		    color: #3a60df;
		    padding-left: 3%;
  		}
  		.author{
		    font-size: 16px;
		    line-height: 50px;
		    padding-left: 3%;  		
  		}
  		.price{
		    line-height: 30px;
		    padding: 2% 0 2% 3%;  		
  		}
  			.discount_price_number{
			    line-height: 30px;
			    font-size: 22px;
			    color: #f84450;
			    font-weight: bold;  			
  			}
  		.button{
  			padding: 2% 0 2% 3%;
  		}
  			.button_quantity{
  				margin-bottom: 2%;
  				
  			}
	  			.button_quantity input{
				    height: 26px;
				    width: 40px;
				    text-align: center;
				    font-weight: bold;  			
	  			}
		  	  	.button_quantity button{
					border: 1px solid #aaa;
				    color: #3a60df;
				    width: 20px;
				    height: 20px;
				    padding: 3px;
				    background-color: #fff;
				    font-weight: bold;
				    font-size: 15px;
				    line-height: 15px;	  	  	
		  	  	}
		  	  		.btn_cart{
						display: inline-block;
    					width: 140px;
					    text-align: center;
					    height: 50px;
    					line-height: 50px;
    					background-color: #5e6b9f;
    					border: 1px solid #5e6b9f;
    					color: #fff;
    					margin-right: 2px;  	  		
		  	  		}
		  	  		.btn_buy{
						display: inline-block;
    					width: 140px;
					    text-align: center;
					    height: 50px;
    					line-height: 50px;
    					background-color: #7b8ed1;
    					border: 1px solid #7b8ed1;
    					color: #fff;			  	  		
		  	  		}
  	
.content_middle {
    width: 100%;
    min-height: 300px;
    text-align: center;
    margin: 50px;
    padding: 20px;
    background-color: #f8f8f8; /* 배경색 추가 */
    border-radius: 10px; /* 보더 모서리를 둥글게 만듦 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.clothes_intro {
    text-align: left;
    margin-left: 20px;
    padding-bottom: 20px; /* 아래쪽 padding 추가 */
}

.clothes_intro h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    border-bottom: 1px solid #ccc; /* 아래쪽에 border 추가 */
}
.content_bottom{
	width: 100%;
    min-height: 300px;
    text-align: center;
    margin: 50px;
    padding: 20px;
    background-color: #f8f8f8; /* 배경색 추가 */
    border-radius: 10px; /* 보더 모서리를 둥글게 만듦 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}




		.book_intro{
			width: 80%;
			margin: auto;
			margin-top: 40px;
		}
		.book_content{
			width: 80%;
			margin: auto;
			margin-top: 40px;
			margin-bottom: 40px;
		}
  	

/* 리뷰쓰기 버튼 */
  .reply_button_wrap{
  	padding : 10px;
  }
  .reply_button_wrap button{
	background-color: #365fdd;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 12px;
    cursor: pointer;  
  }
  .reply_button_wrap button:hover{
  	background-color: #1347e7;
  }
  
	.reply_content_ul{
		list-style: none;
	}
	.comment_wrap{
		position: relative;
    	border-bottom: 1px dotted #d4d4d4;
    	padding: 14px 0 10px 0;	
    	font-size: 12px;
	}
		/* 리뷰 머리 부분 */
		.reply_top{
			padding-bottom: 10px;
		}
		.id_span{
			padding: 0 15px 0 3px;
		    font-weight: bold;		
		}
		.date_span{
			padding: 0 15px 0;
		}
		/* 리뷰 컨텐트 부분 */
		.reply_bottom{
			padding-bottom: 10px;
		}
		
	
	/* 리뷰 선 */
	.reply_line{
		width : 80%;
		margin : auto;
		border-top:1px solid #c6c6cf;  	
	}
	
	/* 리뷰 제목 */
	.reply_subject h2{
		padding: 15px 0 5px 5px;
	}
	
	/* pageMaker */
	.repy_pageInfo_div{
		text-align: center;
	    margin-top: 30px;
	    margin-bottom: 40px;	
	}
	.pageMaker{
	    list-style: none;
	    display: inline-block;	
	}
	.pageMaker_btn{
		float: left;
	    width: 25px;
	    height: 25px;
	    line-height: 25px;
	    margin-left: 20px;
	    font-size: 10px;
	    cursor: pointer;
	}
	.active{
		border : 2px solid black;
		font-weight:400;	
	}
	.next, .prev {
	    border: 1px solid #ccc;
	    padding: 0 10px;
	}	
  
  /* 리뷰 없는 경우 div */
  .reply_not_div{
  	text-align: center;
  }
  .reply_not_div span{
	display: block;
    margin-top: 30px;
    margin-bottom: 20px; 
  }
  
  /* 리뷰 수정 삭제 버튼 */
  .update_reply_btn{
 	font-weight: bold;
    background-color: #b7b399;
    display: inline-block;
    width: 40px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin: 0 5px 0 30px;
    border-radius: 6px;
    color: white; 
    cursor: pointer;
  }
  .delete_reply_btn{
 	font-weight: bold;
    background-color: #e7578f;
    display: inline-block;
    width: 40px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    border-radius: 6px;
    color: white; 
  	cursor: pointer;
  }
  .update_btn{
   	    display: inline-block;
	    width: 130px;
	    background-color: #7b8ed1;
	    padding-top: 10px;
	    height: 27px;
	    color: #fff;
	    font-size: 14px;
	    line-height: 18px;   	
  	}