<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.mapper.AdminMapper">
	
	<!-- 상품 등록 -->	
	<insert id = "clothesEnroll">
		<selectKey resultType="int" keyProperty="clothesId" order="AFTER">
  			SELECT clothes_seq.currval FROM dual
  		
  		</selectKey>
	
		insert into clothes(clothesName,cateCode,clothesPrice,clothesStock,clothesDiscount,clothesIntro)
		values(#{clothesName},#{cateCode},#{clothesPrice},#{clothesStock},#{clothesDiscount},#{clothesIntro})
	</insert>
	
	<!-- 카테고리 리스트 -->
	<select id="cateList" resultType="com.home.model.CateVO">
		select * from trade_cate order by catecode
	</select>
	

	<!-- 상품 리스트 -->
  	<select id="goodsGetList" resultType="com.home.model.ClothesVO">
  	
	<![CDATA[
		select * from(
		    select /*+INDEX_DESC(clothes SYS_C007190)*/ rownum as rn, clothesId, clothesName,
		        (select cateName from trade_cate where clothes.cateCode = trade_cate.cateCode) cateCode,clothesStock,regDate
		    from clothes 
		    where  
		]]>    
		
		    <if test="keyword != null">
		    
			    clothesName like '%' || #{keyword} || '%' and
			    
		    </if>
		     
		<![CDATA[    
		    rownum <= #{pageNum} * #{amount} 
		    )
		where rn > (#{pageNum} -1) * #{amount}		  	
  		]]>
  	
  	</select>
  	
  	<!-- 상품 총 개수 -->
  	<select id="goodsGetTotal" resultType="int">
  	
  		select count(*) from clothes
  		
  		<if test="keyword != null">
  		
  			where clothesName like '%' || #{keyword} || '%'
  		</if>
  		
  	</select>
	
	<!-- 상품 조회 -->
	<select id="goodsGetDetail" resultType="com.home.model.ClothesVO">
   		 SELECT c1.clothesId, c1.clothesName, c2.clothesName AS parentClothesName,
         		  c1.cateCode, c1.clothesPrice, c1.clothesStock, c1.clothesDiscount,
         		  c1.clothesIntro, c1.regDate, c1.updateDate
   		 FROM clothes c1
    		LEFT JOIN clothes c2 ON c1.clothesId = c2.clothesId
    		WHERE c1.clothesId = #{clothesId}
	</select>

	<!-- 상품 정보 수정 -->
	<update id="goodsModify">
		
		update clothes set clothesName = #{clothesName},cateCode = ${cateCode}, 
		clothesPrice = #{clothesPrice}, clothesStock = #{clothesStock}, clothesDiscount = #{clothesDiscount}, clothesIntro = #{clothesIntro}, updateDate = sysdate
		where clothesId = ${clothesId}
		
	</update>

	<!-- 상품 삭제 -->
	<delete id = "goodsDelete">
		delete from clothes where clothesId = #{clothesId}
	</delete>
	
	<!-- 이미지 정보 삭제 -->
	<delete id="deleteImageAll">
		delete from shop_image where clothesId = #{clothesId}
	</delete>
	
		
	<!-- 지정 상품 이미지 정보 얻기 -->
	<select id="getAttachInfo" resultType="com.home.model.AttachImageVO">
	
		select * from shop_image where clothesId = #{clothesId}
	
	</select>

	<!-- 이미지 등록 -->
	<insert id="imageEnroll">
		insert into shop_image(clothesId, fileName, uploadPath, uuid) values (#{clothesId}, #{fileName}, #{uploadPath}, #{uuid})
	</insert>










</mapper>